In [1]:
import pandas as pd
from sqlalchemy import create_engine

#Configuration: Using root credentials
DB_USER = 'root'
DB_PASS = 'root'
DB_HOST = 'localhost' # Standard for local MySQL setup
DB_NAME = 'aqi_project' 

# Create the database engine
engine = create_engine(f'mysql+pymysql://{DB_USER}:{DB_PASS}@{DB_HOST}/{DB_NAME}')

# Load SQL Magic and connect
# NOTE: This connection requires the database 'aqi_project' to exist in MySQL.
%load_ext sql
%sql mysql+pymysql://{DB_USER}:{DB_PASS}@{DB_HOST}/{DB_NAME}

# Data Loading using Pandas
print("Loading data into MySQL...")
try:   
    df = pd.read_csv(r'C:\Project\sql_project\aqi_project_analysis\global_aqi_project_data.csv') 
    
    #Push data to MySQL.
    df.to_sql('global_aqi', con=engine, if_exists='replace', index=False)
    print("Data loaded. Ready for pure SQL analysis.")
    
except Exception as e:
    print(f"FATAL ERROR: A new error occurred: {e}") 
    print("\n--- TROUBLESHOOTING CHECKLIST ---")
    print("1. Is your MySQL service running?")
    print("2. Did you create the database named 'aqi_project' in MySQL Workbench/Client?")
    print("3. Is the file path correct and accessible?")

Loading data into MySQL...
Data loaded. Ready for pure SQL analysis.

In [7]:
%%sql

USE aqi_project;

-- Table column structure
DESCRIBE global_aqi;

 * mysql+pymysql://root:***@localhost/aqi_project
0 rows affected.
12 rows affected.

[('Country', 'text', 'YES', '', None, ''),
 ('City', 'text', 'YES', '', None, ''),
 ('AQI Value', 'bigint', 'YES', '', None, ''),
 ('AQI Category', 'text', 'YES', '', None, ''),
 ('CO AQI Value', 'bigint', 'YES', '', None, ''),
 ('CO AQI Category', 'text', 'YES', '', None, ''),
 ('Ozone AQI Value', 'bigint', 'YES', '', None, ''),
 ('Ozone AQI Category', 'text', 'YES', '', None, ''),
 ('NO2 AQI Value', 'bigint', 'YES', '', None, ''),
 ('NO2 AQI Category', 'text', 'YES', '', None, ''),
 ('PM2.5 AQI Value', 'bigint', 'YES', '', None, ''),
 ('PM2.5 AQI Category', 'text', 'YES', '', None, '')]

In [8]:
%%sql
-- sample of the loaded data
SELECT *
FROM global_aqi
LIMIT 5;

 * mysql+pymysql://root:***@localhost/aqi_project
5 rows affected.

[('Russian Federation', 'Praskoveya', 51, 'Moderate', 1, 'Good', 36, 'Good', 0, 'Good', 51, 'Moderate'),
 ('Brazil', 'Presidente Dutra', 41, 'Good', 1, 'Good', 5, 'Good', 1, 'Good', 41, 'Good'),
 ('Italy', 'Priolo Gargallo', 66, 'Moderate', 1, 'Good', 39, 'Good', 2, 'Good', 66, 'Moderate'),
 ('Poland', 'Przasnysz', 34, 'Good', 1, 'Good', 34, 'Good', 0, 'Good', 20, 'Good'),
 ('France', 'Punaauia', 22, 'Good', 0, 'Good', 22, 'Good', 0, 'Good', 6, 'Good')]

In [10]:
%%sql
-- KPI 1: Overall Average AQI
SELECT 'Overall Average AQI' AS KPI, ROUND(AVG(`AQI Value`), 0) AS Value FROM global_aqi;

 * mysql+pymysql://root:***@localhost/aqi_project
1 rows affected.

[('Overall Average AQI', Decimal('72'))]

In [11]:
%%sql
-- KPI 2: Most Polluted City (Highest AQI)
SELECT 'Most Polluted City' AS KPI, `City`, `Country`, `AQI Value` AS Value 
FROM global_aqi 
ORDER BY `AQI Value` DESC 
LIMIT 1;

 * mysql+pymysql://root:***@localhost/aqi_project
1 rows affected.

[('Most Polluted City', 'Surajgarh', 'India', 500)]

In [12]:
%%sql
-- KPI 3: Cleanest City (Lowest Non-Zero AQI)
SELECT 'Cleanest City' AS KPI, `City`, `Country`, `AQI Value` AS Value 
FROM global_aqi 
WHERE `AQI Value` > 0 
ORDER BY `AQI Value` ASC 
LIMIT 1;

 * mysql+pymysql://root:***@localhost/aqi_project
1 rows affected.

[('Cleanest City', 'El Torno', 'Bolivia (Plurinational State of)', 6)]

In [13]:
%%sql
-- Chart Data: Top 10 Most Polluted Cities (for Bar Chart)
SELECT 'Top 10 Cities' AS Chart, `City`, `Country`, ROUND(AVG(`AQI Value`), 0) AS avg_aqi
FROM global_aqi
GROUP BY `City`, `Country`
ORDER BY avg_aqi DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost/aqi_project
10 rows affected.

[('Top 10 Cities', 'Bahjoi', 'India', Decimal('500')),
 ('Top 10 Cities', 'Barkhera', 'India', Decimal('500')),
 ('Top 10 Cities', 'Bilari', 'India', Decimal('500')),
 ('Top 10 Cities', 'Tynda', 'Russian Federation', Decimal('500')),
 ('Top 10 Cities', 'Jhunjhunun', 'India', Decimal('500')),
 ('Top 10 Cities', 'Bhadasar', 'India', Decimal('500')),
 ('Top 10 Cities', 'Surajgarh', 'India', Decimal('500')),
 ('Top 10 Cities', 'Sikandarabad', 'India', Decimal('500')),
 ('Top 10 Cities', 'Narauli', 'India', Decimal('500')),
 ('Top 10 Cities', 'Didwana', 'India', Decimal('500'))]

In [14]:
%%sql
-- Chart Data: AQI Category Distribution (for Pie/Donut Chart, using `AQI Category`)
SELECT 'AQI Category Distribution' AS Chart, `AQI Category`, COUNT(`City`) AS city_count
FROM global_aqi
GROUP BY `AQI Category`
ORDER BY city_count DESC;

 * mysql+pymysql://root:***@localhost/aqi_project
6 rows affected.

[('AQI Category Distribution', 'Good', 9936),
 ('AQI Category Distribution', 'Moderate', 9230),
 ('AQI Category Distribution', 'Unhealthy', 2227),
 ('AQI Category Distribution', 'Unhealthy for Sensitive Groups', 1591),
 ('AQI Category Distribution', 'Very Unhealthy', 287),
 ('AQI Category Distribution', 'Hazardous', 191)]

In [15]:
%%sql
-- Chart Data: Pollutant Source Breakdown (for Stacked Bar Chart)
SELECT
    `Country`,
    ROUND(AVG(`PM2.5 AQI Value`), 0) AS avg_pm25,
    ROUND(AVG(`Ozone AQI Value`), 0) AS avg_ozone,
    ROUND(AVG(`CO AQI Value`), 0) AS avg_co
FROM global_aqi
GROUP BY `Country`
HAVING AVG(`AQI Value`) > 100 
ORDER BY AVG(`AQI Value`) DESC
LIMIT 5;

 * mysql+pymysql://root:***@localhost/aqi_project
5 rows affected.

[('Republic of Korea', Decimal('415'), Decimal('0'), Decimal('27')),
 ('Bahrain', Decimal('188'), Decimal('127'), Decimal('2')),
 ('Mauritania', Decimal('179'), Decimal('29'), Decimal('1')),
 ('Pakistan', Decimal('173'), Decimal('89'), Decimal('2')),
 ('United Arab Emirates', Decimal('153'), Decimal('160'), Decimal('1'))]